html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "TT Lakes", sans-serif;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

p,
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

@font-face {
    font-family: "TT Lakes";
    src: url("./fonts/TTLakes-Light.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Lakes";
    src: url("./fonts/TTLakes-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 16px;
}

.heder__menu-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #FF3E79;
    border-radius: 50%;
    cursor: pointer;
}

.header__divider {
    border-left: 2px solid #EAEAEA;
    height: 32px;
    border-radius: 1px;
}

.header__actions {
    display: flex;
    gap: 16px;
}

.content {
    background-color: #F8F8F8;
}

.services {
    padding-top: 24px;
}

.services__title {
    padding-left: 16px;
    position: relative;
}

.services__title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #41F6D7;
    border-radius: 0 4px 4px 0;
}

.services-list {
    display: flex;
    gap: 2px;
    overflow: auto;
    scrollbar-width: none;
    padding: 24px 16px 0 16px;
}

.services-list-wrapper {
    position: relative;
}

.services-list-wrapper::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 24px;
    background: linear-gradient(to right, transparent, #F8F8F8);
    pointer-events: none;
}

.services-list__button {
    border: none;
    background: transparent;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    color: #7E7E82;
    white-space: nowrap;
}

.services-list__button--checked{
    border: 2px solid #B8FFEC;
    background-color: white;
    border-radius: 6%;
}

.repair-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #F8F8F8;
    padding-top: 24px;
    padding-bottom: 35px;
}

.repair-block__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.description__text {
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 18px;
}

.description__text--desktop {
    display: none;
}

.repair-block__read-more-button {
    background: transparent;
    display: flex;
    cursor: pointer;
    padding: 0;
    gap: 8px;
    font-size: 16px;
    border: none;
}

.repair-block__picture {
    min-width: 320px;
    height: auto;
}

@media screen and (min-width: 768px){

    .header__logo {
        order: 1;
    }

    .heder__menu-wrapper {
        gap: 20px
    }

    .services__title {
        padding-left: 24px;
    }

    .services-list {
        padding: 32px 24px 0 24px;
    }

    .repair-block {
        flex-direction: row;
        gap: 48px;
        padding: 32px 24px 40px 0;
    }

    .repair-block__description {
        padding-left: 24px;
        padding-right: 0;
    }

    .repair-block__picture {
        min-width: 360px;
        border-radius: 2%;
    }

    .description__text {
        line-height: 20px;
    }
}

@media screen and (min-width: 1120px) {

    .services__title {
        padding-left: 32px;
    }

    .services-list {
        padding: 8px 32px 0 32px;
        overflow: visible;
        flex-wrap: wrap;
    }

    .services-list-wrapper::after {
        display: none;
    }

    .description__text--desktop {
        display: block;
    }

    .repair-block {
        gap: 36px;
        padding: 16px 28px 49px 0;
    }

    .repair-block__description {
        padding-left: 34px;
    }

    .repair-block__picture {
        min-width: 531px;
        border-radius: 2%;
    }
}